<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>

    <%= form_with(url: "/users/create") do |form| %>
      <div class="form users-form">
        <div class="form-body">

          <%# TODO: エラーメッセージが表示されない%>
          <% @user.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>

          <p>ユーザー名</p>
          <%= form.text_field :name, value: @user.name %>

          <p>メールアドレス</p>
          <%= form.text_field :email, value: @user.email %>

          <%= form.submit "新規登録" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
